/* Required Sytles */
.fieldset p.field{}
.fieldset span.desc{display:none;}
.fieldset span.desc.checkbox{display:inline;margin:0px 0px 0px 10px;padding:0px;}
.fieldset i{margin-left:6px;}
.fieldset label{display:none;}
.js-controls{float:right;margin:0px 16px 0px 0px;}
.js-controls .pagination{display:block;height:30px;float:left;margin: 0px 6px 0px 0px;}
.js-controls .btn-next{display:block;height:30px;float:left;margin:0px 0;}
.js-controls .btn-submit{display:block;height:30px;float:left;margin:0px 0;}

/* Custom Sytles */
body{display:block;width:80%;border:1px solid #CCC;margin: 0 auto;padding:2em;border-radius:2em;}
h1{font-size:3em;}
h2{font-size:2em;}
p{font-size:1em;}


